<?xml version="1.1" encoding="UTF-8"?>
<robot name="vektor" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="ros2_control" default="false" />

  <xacro:arg name="vektor_simulation" default="$(find vektor_simulation)" />
  <xacro:arg name="vektor_controllers" default="$(find vektor_controllers)" />
  
  <xacro:include filename="structures/assembly.xacro" />
  
  <xacro:include
    filename="$(arg vektor_simulation)/plugins/joint_state_publisher_plugin.xacro" />
  <xacro:include
    filename="$(arg vektor_simulation)/plugins/sensors_plugin.xacro" />
    
  <xacro:if value="$(arg ros2_control)">
    <xacro:include
      filename="$(arg vektor_simulation)/plugins/ros2_control_plugin.xacro" />
    <xacro:include
      filename="$(arg vektor_controllers)/urdf/diff_drive_ros2_control.xacro" />
  </xacro:if>
  
  <xacro:unless value="$(arg ros2_control)">
    <xacro:include
      filename="$(arg vektor_simulation)/plugins/diff_drive_plugin.xacro" />
  </xacro:unless>
  
</robot>