<?xml version="1.1" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="ahrs_frame">
  </link>

  <joint name="ahrs_joint" type="fixed">
    <parent link="chassis_link" />
    <child link="ahrs_frame" />
  </joint>

  <gazebo reference="ahrs_frame">
    <sensor name="ahrs_sensor" type="custom">
      <ignition_frame_id>ahrs_frame</ignition_frame_id>
      <always_on>true</always_on>
      <update_rate>10.0</update_rate>
      <topic>ahrs_data</topic>
    </sensor>
  </gazebo>

</robot>