<?xml version="1.1" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>
    <plugin
      filename="ign_ros2_control-system"
      name="ign_ros2_control::IgnitionROS2ControlPlugin">
      <parameters>$(find vektor_controllers)/config/vektor_controllers.yaml</parameters>
    </plugin>
  </gazebo>

</robot>